* {
    box-sizing: border-box;
}

.product-list {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
}

.product-list > h3 {
}

.product-list > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.product-list > ul > li {
    width: 30%;
    display: inline-block;
    flex: 0 0 200px;
    height: 300px;
}

.product-list > ul > li > a {
    width: 100%;
    height: 100%;
}

.display-name {
    text-decoration: none;
    font-size: 1rem;
}

.product-list > ul > li img {
    width: 160px;
    height: 160px;
}

button {
    border: 2px solid black;
    border-radius: 3px;
}

button:hover {
    border-radius: 16px;
    transition: all 0.2s ease 0s;
}
