.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 80px;
    display: flex;
    padding: 15px;
    padding-bottom: 5px;
    flex-direction: row;
    align-items: left;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: white;
}

.account-button {
    margin-left: 20px;
    margin-right: 45px;
}

.img:hover {
    background-color: #434a57;
}

.sign-up-button {
    width: 100px;
}

.checkout-button {
    width: 100px;
    text-decoration: none;
}

/* .App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
